<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="menu">

            <div class="menu-sistema">

                <a href="/" id="menu-dashboard">Dashboard</a>
                <a href="/usuarios/tela" id="menu-usuarios">Usuários</a>
                <a href="/produtos/tela" id="menu-produtos">Produtos</a>
                <a href="/compras/tela" id="menu-compras">Compras</a>
                <a href="/acessos/tela" id="menu-acessos">Acessos</a>

            </div>

        </div>

    </body>
</html>